{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method='POST' action="/playlists/{{playlist._id}}">
      <input type="hidden" name='_method' value='PUT'style="color:rgb(90, 36, 133);"/>
      {% include 'partials/playlists_form.html' %}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type='submit' style="color:rgb(90, 36, 133);">Save Playlist</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}